/*=============  PARAMETROS GLOBALES ===================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    font-family: sans-serif;
}
@font-face {
    font-family: 'Good Times Rg'; 
    font-style: normal;
    font-weight: 400;
    src:local("Good Times Rg"), url("../fuentes/Good-Times-Rg.woff") format("woff");
}
h2{
    font-family: "Good Times Rg";
    color: #1b537f;
    font-size: 35px;
}

/*==================  Menu  ====================*/
main{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.divisor>h2{
    font-size: xx-large;
}

#fotoLarga{
    width: 100%;
    height: auto;
}
.divisor{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.divisor>h2{
    color: #1b537f;
    font-family: 'Good Times Rg';
}
/* PRODUCTOS */
#seccion1{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.Carrusel-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 350px;
    border: rgb(231, 231, 231) solid 2px;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
}
.Carrusel-1:hover{
    box-shadow:0 0 5px rgb(4, 0, 255);
}
.Carrusel-1 image{
    width: 100%;
}
.Carrusel-1 h5{
    height: auto;
}
/* APLICACIONES */
#seccion2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Carrusel-2{
    border: rgb(231, 231, 231) solid 2px;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
}
.Carrusel-2:hover{
    box-shadow:0 0 5px rgb(4, 0, 255);
}

/* SERVICIOS */
#seccion3{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.Carrusel-3{
    justify-content: center;
    display: inline-flex;
    border: rgb(231, 231, 231) solid 2px;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
}
.Carrusel-3:hover{
    box-shadow:0 0 5px rgb(4, 0, 255);
}
main img{
    width: 100%;
}
/*=====  Fortalezas  ===============*/

.datosFortalezas{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    font-family: sans-serif;
}
.fortalezas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: white;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
.fortalezas:hover{
    box-shadow: 0 0 5px 0 rgb(0, 38, 255);
}
.imgFooter{
    width: 40%;
    margin-bottom: 20px;
}
/*=============================================================*/
/*================ Media Query Celulares 480p  ================*/
/*=============================================================*/

@media (width <= 550px) {
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    font-family: sans-serif;
}
}
